<!DOCTYPE html>
<html lang="en">
	<head>		
		{include file="view/header.tpl.html" title="Student List"}
	</head>
	<body>	
	{include file="view/menu.tpl.html"}	
	
	<table class="table">
		<tr>
			<td>Id</td>
			<td>First Name</td>
			<td>Last Name</td>
			<td>NIM</td>
		</tr>
	{foreach $list as $student}
		<tr>
			<td>{$student.id}</td>
			<td>{$student.first_name}</td>
			<td>{$student.last_name}</td>
			<td>{$student.nim}</td>
		</tr>
	{/foreach}		
	</table>
	
	{include file="view/footer.tpl.html"}	
	</body>
</html>